.App {
  text-align: center;
}
button {
  margin: 0.5rem;
}
.alert {
  margin: 0.2rem 0;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;
  text-transform: capitalize;
  padding: 0.5rem 0;
}
.alert-danger {
  color: #fff;
  background: #c7192b;
}
.alert-success {
  color: #d4edda;
  background: #155724;
}
